.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: darkgreen;
}


.mrgg {
  color: darkgreen;
}
.spacer {
  min-height: 150px;
}
.spacersm {
  min-height: 30px;
}

a {
  color: darkgreen;
}

h1 {
  color: black;
}

.row {
  font-size: 14pt;
}
body{ /* Normal  */
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.65;
    font-size: 13pt;
}

pre {
  font:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code {
  font-size: 85%;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 5px;
  color: black;
  font-family:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border: 0;
  padding: 16px;
  border-radius: 5px;
  margin-top: 16px;
  margin-bottom: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: black;
}

pre:not([class]) {
  background-color: #f6f8fa;
}

kbd {
  display: inline-block;
  font:  Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.main-container {
  max-width: 1300px;
}


.dropdown-menu{
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus{
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: darkgreen;
}
.dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: black;
  background-color: white;
  white-space: nowrap;
}